<div class="toolbar">
    <h1 id="pageTitle">{{type.name}}</h1>
        <a id="backButton" class="button" ng-tap="$navigate.back()">Back</a>
</div>
<div class="content panel">

    <h3>{{type.name}}</h3>
    <img src="images/{{type.key}}/100px-{{type.key}}{{type.maxLevel}}.png"/>
    <p>{{type.description}}</p>

    <select ng-repeat="n in [] | range:type.maxAvailable"
            ng-model="levels[n-1]"
            ng-change="updateLevel()"
            ng-options="j for j in [] | range:type.maxLevel">
        <option value="">Yok</option>
    </select>

    <table>
        <tr>
            <td>Level</td>
            <td>Build Cost</td>
            <td>Build Time</td>
            <td>Capacity</td>
            <td>Production Rate</td>
            <td>Town Hall Level Required</td>
        </tr>

        <tr ng-repeat="j in [] | range:type.maxLevel">
            <td><img src="images/{{type.key}}/100px-{{type.key}}{{j}}.png" width="40" height="40"/></td>
        </tr>

    </table>
</div>
