<div class="toolbar">
  <h1 id="pageTitle">CoC Helper</h1>
</div>
<div class="content panel">

    <div ng-show="!user.name">
        <img ng-click="registerWithFacebook()" ng-src="images/fb-login.png"/>
    </div>
    <div ng-show="user.name">
        <span>Hoşgeldin {{user.name}},</span>
        <button ng-click="logout()" >Çıkış</button>
    </div>

    <span>{{error}}</span>

  <ul>
    <li ng-repeat="category in categories"><a ng-tap="$navigate.go('/category/{{category.key}}', 'slide')">{{category.name}}</a></li>
    <li><a ng-tap="$navigate.go('/wall', 'slide')">Duvarlar</a></li>
  </ul>

</div>
