<div class="toolbar">
  <h1 id="pageTitle">Home</h1>
</div>
<div class="content panel">

    <div ng-show="!user.name">
        <img ng-click="registerWithFacebook()" ng-src="images/fb-login.png"/>
    </div>
    <div ng-show="user.name">
        <span>Hoşgeldin {{user.name}},</span>
        <button ng-click="logout()" >Çıkış</button>
    </div>

    <span>{{error}}</span>

  <ul>
    <li><a ng-tap="$navigate.go('/building/other', 'slide')">Ana Binalar</a></li>
    <li><a ng-tap="$navigate.go('/building/defensive', 'slide')">Savunma binaları</a></li>
    <li><a ng-tap="$navigate.go('/building/resource', 'slide')">Kaynak binaları</a></li>
  </ul>

</div>
