<div class="toolbar">
    <h1 id="pageTitle">Tahmin</h1>
        <a id="backButton" class="button" ng-tap="$navigate.back()">Back</a>
</div>
<div class="content panel">
    <h1>Tahmin</h1>
    <p>Tahminleri aşağıda görebilirsiniz.</p>

    <p>Amacınız:</p>
    <select ng-model="purpose">
        <option value="1">Seviyemdeki tüm binaları bitirmek</option>
        <option value="2">Tüm binaları bitirmek</option>
    </select>

    <p>Hangi aya kadar bitirmek istiyorsunuz?</p>
    <select ng-model="finishDate">
        <option value="5">Mayıs 2013</option>
        <option value="6">Haziran 2013</option>
        <option value="7">Temmuz 2013</option>
        <option value="8">Ağustos 2013</option>
        <option value="9">Eylül 2013</option>
        <option value="10">Ekim 2013</option>
        <option value="11">Kasım 2013</option>
        <option value="12">Aralık 2013</option>
    </select>

    <table border="1">
        <tr>
            <td></td>
            <td>Harcanan</td>
            <td>Kalan</td>
            <td>Toplam</td>
            <td>Yüzde</td>
        </tr>
        <tr ng-repeat="p in projections">
            <td><img src="/images/resource/27px-{{p.type}}.png"/></td>
            <td>{{p.elapsed}}</td>
            <td>{{p.remaining}}</td>
            <td>{{p.total}}</td>
            <td>%{{p.percentage}}</td>
        </tr>
    </table>
</div>
