<div class="toolbar">
    <h1 id="pageTitle">{{type.name}}</h1>
        <a id="backButton" class="button" ng-tap="$navigate.back()">Back</a>
</div>
<div class="content panel">

    <h3>{{type.name}}</h3>
    {{type.description}}
    <br>
    <br>

    Kullanılmamış: {{unassigned}}
    <div ng-repeat="n in [] | range:type.maxLevel">
        {{n}} seviye
        <select ng-model="wallCountsPerLevel[n]"
                ng-options="j for j in [] | range:type.maxAvailable"
                ng-change="updateLevel()">
            <option value="">Yok</option>
                </select>
    </div>
</div>
